@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.card-row
{
  display: flex;
}
.card-detail1{
  float: left;   
  margin-left: 14%;
  margin-bottom: 26px;
}

@media screen and (max-width: 600px) {
  .card-detail1 {
    margin-bottom: 26px;
  }
}